</head>
<body>
<div id="gamefield">
    <a>Dealer</a>
    <div id="dealercards">

    </div>

    <div id="playercards">

        <img id="test" src="../../../public/img/A_Herz.png" width="100px">

    </div>
    <a>Spieler</a>
</div>
<div id="buttons">
    <button type="button" id="double">2x</button>
    <button type="button" id="hit">+</button>
    <button type="button" id="stand">-</button>
    <button type="button" id="split">⇋</button>
</div>

<div id="chips">
    <button type="button" id="chip1" class="chip">1</button>
    <button type="button" id="chip5" class="chip">5</button>
    <button type="button" id="chip25" class="chip">25</button>
    <button type="button" id="chip50" class="chip">50</button>
    <button type="button" id="chip100" class="chip">100</button>
</div>