<link rel="stylesheet" href="/public/styles/singleplayer.css">

<script src="/public/js/singleplayer/objects/card.js"></script>
<script src="/public/js/singleplayer/objects/cardShoe.js"></script>
<script src="/public/js/singleplayer/players/player.js"></script>
<script src="/public/js/singleplayer/players/dealer.js"></script>
<script src="/public/js/singleplayer/actions.js"></script>
<script src="/public/js/singleplayer/logic/designLogic.js"></script>
<script src="/public/js/singleplayer/logic/gameLogic.js"></script>

<script>actions = new actions();</script>