</head>
<body>

<button type="button" id="backToMenuButton" class="back">&#127968;</button>

<div class="canvas">
    <canvas id="gameField"></canvas>
</div>

</div>

<div id="gameButtons" class="center">
    <button type="button" id="double" class="center gameButton hidden">2x</button>
    <button type="button" id="hit" class="center gameButton hidden">+</button>
    <button type="button" id="stand" class="center gameButton hidden">-</button>
    <button type="button" id="split" class="center gameButton hidden">⇋</button>
</div>

<div id="bets" class="center">

    <div id="sidebet_pair" class="sidebet center chip clickable">
        <a id="sidebet_pair_text">0</a>
    </div>

    <div id="mainbet" class="bet center chip clickable">
        <a id="mainbet_text">0</a>
    </div>

    <div id="sidebet_213" class="sidebet center chip clickable">
        <a id="sidebet_213_text">0</a>
    </div>

</div>

<div id="chips" class="center">

    <div class="chip symbol clickable betchip" id="back">
        <a>↜</a>
    </div>

    <div class="chip playchip clickable betchip" id="chip5">
        <a>5</a>
    </div>

    <div class="chip playchip clickable betchip" id="chip25">
        <a>25</a>
    </div>

    <div class="chip playchip clickable betchip" id="chip50">
        <a>50</a>
    </div>

    <div class="chip playchip clickable betchip" id="chip100">
        <a>100</a>
    </div>

    <div class="chip playchip clickable betchip" id="chip1000">
        <a>1000</a>
    </div>

    <div class="chip symbol clickable betchip" id="repeat2x">
        <a>↺</a>
    </div>

</div>

<div id="otherButtons" class="center">
    <button type="button" id="startGame">Starte das Spiel</button>

</div>


</body>
</html>