</head>
<body>
<div id="gamefield" class="center">
    <a>Dealer</a>
    <div id="dealercards">

    </div>

    <div id="playercards">

        <img id="test" src="../../../public/img/A_Herz.png" width="50px">

    </div>
    <a>Spieler</a>
</div>
<div id="buttons" class="center">
    <button type="button" id="double" class="center">2x</button>
    <button type="button" id="hit" class="center">+</button>
    <button type="button" id="stand" class="center">-</button>
    <button type="button" id="split" class="center">⇋</button>
</div>

<div id="bet" class="center"></div>

<div id="chips" class="center">
    <button type="button" id="back" class="chip symbol">↜</button>
    <button type="button" id="chip1" class="chip playchip">1</button>
    <button type="button" id="chip5" class="chip playchip">5</button>
    <button type="button" id="chip25" class="chip playchip">25</button>
    <button type="button" id="chip50" class="chip playchip">50</button>
    <button type="button" id="chip100" class="chip playchip">100</button>
    <button type="button" id="repeat2x" class="chip symbol">↺</button>
</div>

<div id="backToMenu" class="center">
    <button type="button" id="backToMenuButton">Zurück zum Hauptmenü</button>
</div>