/* Hier die Farbcodes: https://material.io/design/color/the-color-system.html#tools-for-picking-colors */

:root {
    color-scheme: dark;
}

* {
    background-color: #212121;
}

button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin-right: 0;
    text-decoration: none;
    background: #757575;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: all 200ms ease-in-out,
    transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover {
    background: #424242;
}

button:active {
    transform: scale(0.95);
}