*:not(footer) {
    background-color: #212121;
    color: #EEEEEE;
}

button:not(.gameButton) {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin-right: 0;
    text-decoration: none;
    background: #757575;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: all 200ms ease-in-out,
    transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover {
    background: #424242;
}

button:active {
    transform: scale(0.95);
}

footer {
    position: absolute;
    bottom: 0;
    width: 99%;
    height: 40px;   /* Height of the footer */
    text-align: center;
    color: #EEEEEE;
    margin: 0;
    padding: 0;
}

* {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}