#gamefield {
    margin: 0 auto 0 auto;
    background-color: green;
    width: 80%;
    height: 350px;
}

#gamefield * {
    background-color: green;
}

#hit {
    background-color: #00E600;
}

#stand {
    background-color: #ED0520;
}

#split {
    background-color: #0025E6;
}

#double {
    background-color: #EFD800;
}

#mainbet {
    width: 75px;
    height: 75px;
    background-color: grey;
    text-align: center;
}

#bets {
    height: 100px;
}

#sidebet_pair {
    width: 50px;
    height: 50px;
    background-color: grey;
    text-align: center;
}

#sidebet_213 {
    width: 50px;
    height: 50px;
    background-color: grey;
    text-align: center;
}

.hidden {
    visibility: hidden;
}

.chip {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    text-align: center;
    background-color: #757575;
    margin-left: 3px;
}

.clickable {
    cursor: pointer;
    transition: all 200ms ease-in-out,
    transform 150ms ease;
}

.clickable:hover {
    background: #424242; /* Funktioniert nicht bei Playerbet */
}

.clickable:active {
    transform: scale(0.95);
}

.chip a {
    vertical-align: middle;
    background-color: transparent;
}

.symbol {
    font-size: 2rem;
    display: inline-flex;
}

.playchip{
    display: inline-flex;
}

.center {
    text-align: center;
    justify-content: center;
}

.clicked {
    background: #424242;
}
.card {
    margin-left: 5px;
}

.bet {
    height: 50px;
    display: inline-flex;
}

.sidebet{
    display: inline-flex;
}
/*.playertext {
    position: absolute;
    bottom: 300px;
}*/