#gamefield {
    background-color: green;
}

#gamefield * {
    background-color: green;
}

#hit {
    background-color: #00E600;
}

#stand {
    background-color: #ED0520;
}

#split {
    background-color: #0025E6;
}

#double {
    background-color: #EFD800;
}

#bet {
    width: 100px;
    height: 100px;
    background-color: grey;
    text-align: center;
}



.hidden {
    visibility: hidden;
}

.chip {

    width: 75px;
    height: 75px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: all 200ms ease-in-out,
    transform 150ms ease;
    background-color: #757575;
}

.chip:hover {
    background: #424242;
}

.chip:active {
    transform: scale(0.95);
}

.chip a {
    vertical-align: middle;
}

.symbol {
    font-size: 2rem;
    float: left;
}

.playchip{
    float: left;
}

.center {
    text-align: center;
    justify-content: center;
}

.clicked {
    background: #424242;
}